h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    color:rgb(46, 24, 122);;
    text-align: center;
    border: 2px solid black;
}
strong{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(46, 24, 122);;
    border: 2px solid black;
    position: fixed;
    top: 20px;
    right: 250px;
}
.center{
    margin-left: auto;
    margin-right: auto;
}

table,tr,td{
    border: 2px solid;
    overflow-wrap: break-word;
    color: rgb(46, 24, 122);;    
}
div{
    color:rgb(46, 24, 122);
    font-size: 15px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div.sol{
    width: 20%;
    height: 1000px;
    float: left;
}
div.sag{
    width: 64%;
    float: right;
    position: fixed;
    top: 60px;
    right: 5px;
    border: 2px solid black;
}